.cell {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}


table 
{
table-layout: fixed;
position: absolute;
top: 0px;
left: 0px;
}

tr, td{
    border: solid 1px;
}